{% extends "base.html" %}
{% block content %}
<h1>Get all Disciplinas!</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nome:</th>
            <th>Carga horária:</th>
            <th>Professor:</th>
            <th>Curso:</th>
            <th>Ações:</th>
        </tr>
    </thead>
    <tbody>
        {% for  disciplina in  disciplinas%}
         <tr>
           
            <td>{{disciplina.nome}}</td>
            <td>{{disciplina.carga_horaria}}</td>
            <td>{{disciplina.professor.nome}}</td>
            <td>{{disciplina.curso.nome}}</td>
            <td>
                <a href= "{% url 'update-disciplina' id=disciplina.id %}" class="btn btn-warning">Update</a>
                <a href= "{% url 'delete-disciplina'  id=disciplina.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" href={% url "create-disciplina" %}>Nova disciplina</a>
<a class="btn btn-primary" href={% url "get-all-cursos" %}>Ver cursos</a>
<a class="btn btn-primary" href={% url "get-all-professores" %}>Ver professores</a>
{% endblock content %}