{% extends "base.html" %} {% block content %}
<h1>Delete Professor!</h1>
<form method="post">
    {% csrf_token %}
  <div class="form-group">
    <label for="nome_professor">Nome:</label>
    <input type="text" class="form-control" id="nome_professor" name="nome" readonly="readonly" value="{{professor.nome}}"/>
  </div>

  <div class="form-group">
    <label for="idade_professor">Idade:</label>
    <input
      type="number"
      class="form-control"
      id="idade_professor"
      name="idade"
      readonly="readonly"
      value="{{professor.idade}}"
    />
  </div>
  <button type="submit" class="btn btn-danger">Deletar</button>
  <a class="btn btn-warning" href={% url "get-all-professores" %}>Volta para lista</a>
</form>
{% endblock content %}
